NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyBjRgDiR0VfJ3VjN38CdfXt_WK7VL-P8Go
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=igreja-amor-em-movimento.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=igreja-amor-em-movimento
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=igreja-amor-em-movimento.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=1039506776024
NEXT_PUBLIC_FIREBASE_APP_ID=1:1039506776024:web:cb0d7104def4f5c4341cad
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-YFJNLJD7M1
